# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
venv/
.venv/

# Angular / Node
node_modules/
dist/
.angular/
.env
.env.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log